.navbar-brand{
    margin-left: 10px;
}
.d-flex,.form-control, .dropdown{
    margin-right: 10px;
}
.highlights{
    height: 560px;
    width: 1080px;
}
.card{
    margin: 10px;
    width: 300px;

}

/* @keyframes flickerAnimation {
    0%    { opacity: 0; }
    20%   { opacity: 1; }
    80%   { opacity: 0; }
    100%  { opacity: 1; }
  }
  
  .animate-this-element {
    animation: flickerAnimation .5s infinite; 
  }*/

 @keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  #headerToPrompt {
     -webkit-animation: flickerAnimation .8s infinite; /*Safari*/
     -moz-animation: flickerAnimation .8s infinite; /*Firefox*/
     -o-animation: flickerAnimation .8s infinite; /*Opera*/
      animation: flickerAnimation .8s infinite; /*IE*/
  } 
   
